.dashboard {
    width: 100%;
    height: 100%;
}

.information {
    display: flex;
    margin-bottom: 20px;
}

.information > div {
    margin-right: 10px;
    margin-bottom: 10px;
}

.charts {
    width: 100%;
    height: calc(100% - 80px);
    display: flex;
}

.charts > div {
    padding-right: 20px;
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

.charts > div > div {
    background-color: #fff;
    box-shadow: 0 0 10px 0 #d8d8d8;
    border-radius: 12px;
    margin-bottom: 20px;
}

.left-side {
    width: 670px;
}

.right-side {
    width: calc(100% - 670px);
}

.right-side > div {
    margin-right: 20px;
}

.seat {
    background: url(../../../assets/icon/disable.svg) center / 40px no-repeat;
}

.seat-left-row2 {
    width: 100%;
    height: calc(100% - 440px);
}

.seat-right-row1-right {
    width: calc(100% - 540px);
    height: 300px;
}

.seat-right-row2-right {
    width: calc(100% - 640px);
    height: 100px;
}

.seat-right-row3-bottom {
    width: 100%;
    height: calc(100% - 460px);
}
