.listTable .el-form-item {
    margin-bottom: 10px !important;
}

.listTable .cell .el-button {
    padding: 4px 6px;
}

.listTable .cell .el-button.el-button--text {
    text-decoration: underline;
}

.listTable .el-table td, .el-table th {
    padding: 3px 0 !important;
}

.listTable .el-table .el-table__cell {
    padding: 3px 0 !important;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    line-height: initial;
}

.listTable .el-table__fixed, .el-table__fixed-right {
    height: 100% !important;
}

.listTable .el-table td > .cell,
.listTable .el-table th > .cell {
    width: auto;
    white-space: nowrap;
}

.listTable .el-table td > .cell span,
.listTable .el-table th > .cell span {
    display: inline-block;
}

.listTable .el-table__empty-block {
    justify-content: flex-start;
}

.listTable .el-table__empty-text {
    text-align: left;
    padding-left: 10px;
}

.block .el-checkbox {
    display: block;
}

.el-popover__title {
    font-size: 14px;
}

.operations button {
    width: 100%;
    display: block;
}

.operations .el-button + .el-button {
    margin: 5px 0 0 0;
}

.listTable .tableOperation .el-button {
    padding: 8px 18px;
}

.listTable .tableOperation .el-button.el-button--normal:focus,
.listTable .tableOperation .el-button.el-button--normal:hover {
    color: #5F75ED;
    border-color: #afa2ff;
    background-color: #f4f2ff;
}

.listTable .tableOperation .el-button--primary {
    background-color: #5F75ED;
    border-color: #5F75ED;
}

.el-pagination.is-background .btn-next,
.el-pagination.is-background .btn-prev,
.el-pagination.is-background .el-pager li {
    background-color: transparent !important;
    border-radius: 6px !important;
    border: 1px solid #FFFFFF;
    font-weight: initial;
}

.el-pagination.is-background .el-pager li:not(.disabled).active {
    background-color: #5F75ED !important;
    border-color: #5F75ED;
    color: #ffffff !important;
}

.el-pagination__jump {
    margin-left: 0;
}

.el-table th > .cell {
    font-weight: initial;
    color: #5F75ED;
}

.el-pagination.is-background .el-pager li:not(.disabled):hover {
    color: #5F75ED;
}

.el-pagination__sizes .el-input .el-input__inner:hover {
    border-color: #5F75ED;
}
