@font-face {
    font-family: 'Harmony';
    font-weight: normal;
    font-style: normal;
    src: url('https://cos.amiyabot.com/resource/HarmonyOS_Sans_SC.ttf');
}

* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
}

#app {
    width: 100vw;
    height: 100vh;
    font-size: 14px;
    overflow: hidden;
    font-family: 'Avenir', Helvetica, Arial, sans-serif, 'Harmony' !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.shadow-box {
    width: 100%;
    height: 100%;
    padding: 15px;
    background-color: #fff;
    border-radius: 12px;
}

.el-dropdown {
    margin: 0 10px;
    cursor: pointer;
    user-select: none;
}

.el-descriptions--mini.is-bordered .el-descriptions-item__cell {
    color: #303133;
}

.el-descriptions-item__label:not(.is-bordered-label) {
    width: 120px;
}
