
.custom-window {
    border-radius: 20px !important;
    overflow: hidden !important;
    background: none !important;
    position: relative !important;
}

.custom-window .el-dialog__header {
    height: 50px;
    background: #9382F8;
    position: relative;
}

.custom-window .el-dialog__title {
    width: calc(100% - 320px);
    height: 100%;
    line-height: 50px;
    padding-left: 65px;
    text-align: left;
    color: #FFFFFF;
    font-size: 20px;
    font-weight: bold;
    text-shadow: 2px 2px 0 #543fd1;
    background: url(../../../assets/rabbit-white.png) center left 22px / 30px no-repeat;
    user-select: none;
    position: absolute;
    top: 0;
    left: 0;
}

.custom-window .el-dialog__headerbtn {
    font-size: 24px;
    top: 12px;
    z-index: 1;
}

.custom-window .el-dialog__headerbtn .el-dialog__close {
    color: #FFFFFF;
}

.custom-window .el-dialog__body {
    max-height: 500px;
    background: #FFFFFF;
    overflow: auto;
}

.custom-window.is-fullscreen .el-dialog__body {
    height: calc(100% - 100px);
    max-height: none !important;
}

.custom-window .el-dialog__footer {
    background: #FFFFFF;
}

.custom-window .el-button--primary {
    border-color: #5F75ED;
    background-color: #5F75ED;
}

.custom-window .cell .el-button {
    padding: 4px 6px;
}
